#logo {
    height: 200px;
}

.container {
    position: relative;
    /* bottom: 60px; */
    overflow: hidden;
}

#wave {
    position: absolute;
    width: 100vw;
    bottom: -350px;
    z-index: -1;
    opacity: .7;
}

p {
    max-width: 200px;
    text-align: left;
    position: relative;
    font-size: 22px;
    top: -64px;
    left: 58px;
}

.btn i {
    margin-right: 8px;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 26px;
    }
    p {
        font-size: 14px;
        max-width: 150px;
        top: -40px;
        left: 50px;
    }
    #logo {
        height: 130px;
    }
    .btn {
        width: 100%;
    }
    .btn-image img {
        width: 110px;
    }
}